<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fast Price - Login</title>
        <link rel="icon" type="image/png" href="/imgs/cart.png">
        <link rel="stylesheet" href="/css/style_login.css">
    </head>
    <body>
        <div class="container">
            <div class="logo-container">
                <a th:href="@{/}">
                    <img src="/imgs/logo.png" alt="Fast Price Logo" class="logo">
                </a>
            </div>
            <div class="login-card">
                <h1>Entre em sua conta</h1>

                <form th:action="@{/login}" method="POST">
                    <input type="email" name="email" id="email" class="input-field" placeholder="Digite seu e-mail" required>
                    <input type="password" name="senha" id="senha" class="input-field" placeholder="Digite sua senha" required>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
                
                <a th:href="@{/redefinir}" class="forget-password">Esqueceu sua senha?</a>
                
                <div class="divider"></div>
                
                <p class="register-text">Ainda não possui uma conta?</p>
                <button onclick="window.location.href='/cadastrar'" class="btn btn-secondary">Registre-se</button>
            </div>
        </div>
    </body>
</html>